@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.App {
  text-align: center;
}

body{
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #474747;
}

section{
  height: 100vh;
}

.container{
  float: left;
  padding-left: 50px;
}

h4{
  padding-right: 50px;
}
